.layout-wrapper {
  display: flex;
}

.layout-content {
  margin-left: 200px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

@media screen and (max-width: 1200px) {
  .layout-wrapper .layout-content {
    margin-left: 0;
  }

  .layout-content {
    padding-top: 50px;
    margin-top: 1rem;
  }
}
